.question-container {
  width: 400px;
  display: flex;
}

.input-question {
    display: block;
    border: 0;
    background: #fafafa;
    width: 100%;
    border-radius: 0.5em;
    border: solid 1px #E5E5E5;
    padding: 1em;
    margin-left: -10px;
  }
  
  .search {
    display: inline-block;
    background: #df7366;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.65em 3em 0.65em 3em;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 300;
    margin-left: 10px;
  }
  
  .search:hover {
    background: #ef8376;
  }

  .answer-container {
    margin-top: 20px;
  }