.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 200px;
}

.question-container {
  width: 400px;
  display: flex;
}

.input-question {
    display: block;
    border: 0;
    background: #fafafa;
    width: 100%;
    border-radius: 0.5em;
    border: solid 1px #E5E5E5;
    padding: 1em;
    margin-left: -10px;
  }
  
  .search {
    display: inline-block;
    background: #df7366;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.65em 3em 0.65em 3em;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 300;
    margin-left: 10px;
  }
  
  .search:hover {
    background: #ef8376;
  }

  .search.searching {
    background: #b22313;
  }

  .answer-container {
    margin-top: 20px;
    text-align: justify;
    height: 150px;
  }

  .answer-container div{
    background: rgba(0,0,0,0.5);
    padding: 20px;
  }

  .answer-container.hide {
    visibility: hidden;
  }

  .frequent-questions h2 {
    text-align: center;
  }

  .frequent-questions ul {
    padding-left: 14px;
    font-size: 18px;
    line-height: 30px;
  }

  .frequent-questions a {
    cursor: pointer;
  }

  .frequent-questions a:hover {
    text-decoration: underline;
  }