.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/images/header.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  width: 100vw;
  height: calc(100vh + 20px);
  overflow-y: hidden;
  margin: -20px 0 0 -8px;
}

.title {
  margin-top: 100px;
}